language: php

os:
  - linux
  - osx

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - hhvm-nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm-nightly

before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y g++

before_script:
    - composer install
    - git config --global user.name travis-ci
    - git config --global user.email travis@example.com

script: vendor/bin/phpunit

after_script:
  - vendor/bin/test-reporter

addons:
  code_climate:
    repo_token: aff33f...
