language: php

php:
  - 5.6
  - 7.0
  - hhvm

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y g++

before_script:
  - composer install --prefer-source --no-interaction --dev
  - composer install-drafter
  - git config --global user.name travis-ci
  - git config --global user.email travis@example.com

script: vendor/bin/phpunit

after_script:
  - vendor/bin/test-reporter
  - bash <(curl -s https://codecov.io/bash)

addons:
  code_climate:
    repo_token: c8a07ee2759b229cb3bee66fb112ef1ce95494c
